@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

/* Variables */
:root {
    --primary-color: #34A853;
    --secondary-color: #4285F4;
    --background-color: #F5F7FA;
    --primary-text-color: #232323;
    --secondary-text-color: #232323;
    --danger-color : #EA4335;
    --warrning-color : #FBBC05;
    --safety-color : #34A853;
    --white-color : #ffffff;
    --font-family-title: 'Roboto Condensed', sans-serif;
    --font-family: 'Roboto Condensed', sans-serif;
  }
  
  /* Reset & Base Styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: var(--font-family-title);
    margin-bottom: 1rem;
  }
  
  /* Links */
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Buttons */
  button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    color: var(--white-color);
    transition: background 0.3s ease-in-out;
 }
   /* status */
  .status{
    padding: 0.3rem 0.6rem;
  }
  .dangerButton{
    background-color: var(--danger-color);
  }
  .warningButton{
    background-color: var(--warrning-color);
  }
  .safetyButton{
    background-color: var(--safety-color);
  }   
  
  /* Containers */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Utility Classes */
  .text-center {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  